$main-color: #fa4299;
$button-color: #fff;
$border-color: #000;
$theme:#1BB55C;

@import "https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
}

:root {
  --hue: 223;
  --bg2: hsl(var(--hue),10%,80%);
}

html {
	display: grid;
	width: 100%;
	height: 80%;
	margin: center;

	background: #DDEFFA;
}

body {
	display: grid;
	width: 100%;
	margin: center;
	background: $theme;
}

.container {
  margin: auto;
  padding: 0 1rem;
  z-index: 2;

}


.wrapper {
	width: 30%;
  left: 35%;
  position:absolute;
  top: 28%;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
	overflow: hidden;
  .title-text {
    padding: 2rem;
	display: flex;
    justify-content: center;
	background-color: white;
		.title {
      user-select: none;
			width: 50%;
			font-size: 35px;
			font-weight: 600;
			text-align: center;
			transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
			color: #1BB55C;
		}
	}
	.form-container {
		width: 100%;
		overflow: hidden;
	}
	form {
      padding: 1.5rem 30px;
      padding-top: 0;
	  .check-boxx{

				color: #999999;
				margin-top: 4%;
				label{
					font-size: 13px;
				}
	  }
		.field {
			height: 50px;
			width: 100%;
			margin-top: 20px;
			position: relative;
			input {
        		color: rgb(112, 108, 108);
				height: 100%;
				width: 100%;
				outline: none;
				font-size: 17px;
				padding-left: 20px;
				border: 1px solid lightgrey;
				border-radius: 10px;
				transition: all 0.3s ease;
        		padding: 0 0.8rem;
				&:focus {
					border-color: #ABC9ED;
				}
        &::selection{
          background: $theme;
          color: $button-color;
        }
			}
      input[type="submit"] {
        color: $button-color;
        font-size: 20px;
        font-weight: 500;
        padding-left: 0px;
        border: none;
        cursor: pointer;
        background: $theme;
        font-weight: bold;
      }
			label {
				position: absolute;
				top: 50%;
				left: 20px;
				color: #999999;
				font-weight: 400;
				font-size: 17px;
				pointer-events: none;
				transform: translateY(-50%);
				transition: all 0.3s ease;
			}
		}
	}
}
	.field {
		input {
			&:valid {
				border-color: $theme;
				~ {
					label {
						top: 0%;
						font-size: 16px;
						color: #999999;
						background: #fff;
						transform: translateY(-50%);
					}
				}
			}
			&:focus {
				~ {
					label {
						top: 0%;
						font-size: 16px;
						color: #ABC9ED;
						background: #fff;
						transform: translateY(-50%);
					}
				}
			}
		}
	}




.form-container {
	background: rgb(255, 255, 255);
  	padding: 0 30px;

	.form-inner {
		display: flex;
		width: 200%;
		form {
			width: 50%;
			transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
		}
	}
}


@media only screen and (max-width: 768px) {
	.wrapper {
	  width: 95%;
	  padding: 0 20px; // add padding to sides on smaller screens
	  left: 2% !important;
	  align-items: center;
	  top: 25%;
	}
  
	.title-text .title {
	  font-size: 25px; // reduce title size on smaller screens
	}
  
	form {
	  padding: 1rem 20px;
	}
  
	.field {
	  height: auto; // use auto height for fields on smaller screens
	  margin-top: 10px; // reduce margin-top for fields on smaller screens
	}
  
	.field input {
	  height: 40px; // reduce input height on smaller screens
	  font-size: 16px; // reduce input font size on smaller screens
	}
  
	.field label {
	  font-size: 14px; // reduce label font size on smaller screens
	}
  }


.icon-password{
  position: absolute;
  top: 50%;
  right: 20px;
  color: #999999;
  font-size: 19px;
  transform: translateY(-50%);
  z-index: 5;
  cursor: pointer;
}



@keyframes shake {
	0% { transform: translateX(0); }
	25% { transform: translateX(-10px); }
	50% { transform: translateX(10px); }
	75% { transform: translateX(-10px); }
	100% { transform: translateX(0); }
}


// button signup
.btn {
	margin: auto;
	border: 0;
	// background-color: var(--bg2);
	border-radius: 1.5em;
	display: block;
	position: relative;
	width: 100%;
	height: 3em;
	transition: width 0.3s ease-in-out;
	cursor: pointer;
	font-size: 1.1rem;
	font-weight: bold;
  }

  .btn-loading {
	background-color: lightgray !important;
  }
  
  /* Make sure the mdi-loader icon is spinning */
  .mdi-spin {
	animation: mdi-spin 2s infinite linear;
	color: #000;
  }
  
  @keyframes mdi-spin {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }

  .btn:not(:disabled):active {
	transform: translateY(0.1em);
  }
  .btn__text {
	background-image: $theme;
	border-radius: inherit;
	color: rgb(35, 35, 35);
	display: inline-block;
	padding: 0.75em 1.5em;
	transition:
	  background-color 0.15s linear,
	  color 0.15s 0.3s ease-in-out;
	width: 100%;
  }
  .btn:not(:disabled):focus .btn__text,
  .btn:not(:disabled):hover .btn__text {
	background-color: $theme;
  }
  .btn__progress {
	overflow: visible;
	position: absolute;
	top: 0;
	left: 0;
	width: 3em;
	height: 3em;
	visibility: hidden;
  }
  .btn__progress-track {
	r: 12px;
	stroke: var(--bg2);
	stroke-width: 24;
  }
  .btn__progress-fill {
	stroke: $theme;
	stroke-dashoffset: 125.66;
  }
  .btn__progress-check {
	stroke: hsl(0,0%,100%);
	stroke-dashoffset: 34;
  }

  /* Both states */
  .btn--running,
  .btn--done {
	outline: none;
	pointer-events: none;
	width: 3em;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
  }
  .btn--running .btn__text,
  .btn--done .btn__text {
	color: transparent;
	transition:
	  background-color 0.3s ease-in-out,
	  visibility 0.3s steps(1);
  }
  .btn--running .btn__progress,
  .btn--done .btn__progress {
	visibility: visible;
  }

  /* Running state */
  .btn--running .btn__text {
	background-color: $theme;
	visibility: hidden;
  }
  .btn--running .btn__progress {
	transition: visibility 0.3s 0.3s steps(1,start);
  }
  .btn--running .btn__progress-track {
	r: 20px;
	stroke-width: 8;
	transition:
	  r 0.3s 0.3s ease-in-out,
	  stroke-width 0.3s 0.3s ease-in-out;
  }
  .btn--running .btn__progress-fill {
	stroke-dashoffset: 0;
	transition: stroke-dashoffset 2s 0.6s linear;
  }

  /* Done state */
  .btn--done .btn__progress-track {
	stroke: $theme;
	transition:
	  r 0.3s ease-in-out,
	  stroke-width 0.3s ease-in-out;
  }
  .btn--done .btn__progress-check {
	stroke-dashoffset: 0;
	transition: stroke-dashoffset 0.3s 0.3s ease-out;
}


@keyframes animatetop {
    0% {
      margin-bottom: -500px;
      opacity: 0;
    }
    100% {
      margin-bottom: 15px;
      opacity: 1;
    }
}

// mooj background
.mooj{
	position: absolute;
	width: 100%;
	height: 100vh;
}
.gojo-admin{
	color: white;
	text-align: center;
	margin-top: 10%;
}


/* Project Responsive */


@media only screen and (max-width: 1200px) {
    .container {
      max-width: 80rem;
    }
  }



  @media only screen and (max-width: 992px) {
    .container {
      max-width: 80rem;
    }
  }



  @media only screen and (max-width: 768px) {
    .container {
      max-width: 650px;
    }
	.wrapper {
		max-width: 100%;
	}
  }


  @media only screen and (max-width: 576px) {
    .container {
      max-width: 100%;
    }
  }

  /* Add your loader styles here */
.loader {
	/* This is a simple loader. You can customize it or replace it with your own */
	border: 2px solid #f3f3f3; /* Light grey */
	border-top: 2px solid #3498db; /* Blue */
	border-radius: 50%;
	width: 12px;
	height: 12px;
	animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }
  

