table {
    width: 100%;
    border: 1px solid #ddd;
    background-color: white;
  }


  td {
    border-bottom: 1px solid #ddd;
  }
  th {
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    background-color:#f6f6f6;
    // text-transform: uppercase;
  }

  th, td {
    padding: 8px;
  }

  th input {
    text-align: left;
    diplay: inline;
  }

  .colss{
    font-weight: normal;
    color: #1BB55C;
  }

  // .active {
  //   font-weight: bold;
  // }
  .dept-span{
    font-size: 13px !important;
  }
  .active-stat{
    background-color: #f2f0f9;
    padding: 5px 10px;
    border-radius: 5px;
    width: 6.5rem;
  }
  .deactive-stat{
    background-color: #FC2929;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    width: 6.5rem;
  }
  .round {
    background: #1BB55C;
    border-radius: 15px;
    border: none;
    color: #fff;
    font-size: 16px;
    padding: 5px 10px;
    margin-bottom: 10px;
    text-decoration: none; }
  .pagination-wrapper{
    margin-top: 10px;
    float: right;
    padding-left: 15px;
  }
.pagination-wrapper .pagination .page-item .page-link, select {
  border: none !important;
  background-color: transparent !important;
  outline: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important
}
.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 1px solid #ddd; /* change color as needed */
  margin-bottom: 0; /* remove bottom margin */
}

.header-icons {
  display: flex;
  gap: 10px; /* space between icons */
  margin-right: 10px;
}

.table {
  margin-top: 0; /* remove top margin */
}
.icon-separator {
  height: 20px; /* adjust as needed */
  width: 1px;
  background: rgba(0, 0, 0, 0.12);
  margin: 0 3px; /* space out the separator */
}

.header-icons .search-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 320px; /* adjust the width as needed */
}

.header-icons .search-input {
  border: 1px solid gray;
  border-radius: 25px; /* adjust as needed for rounded corners */
  padding: 5px 30px 5px 10px; /* padding on left for text and on right for icon */
  width: 200%;
  transition: all 0.3s ease; /* transition effect */
  font-size: 14px; /* adjust as needed */
}

.header-icons .search-input:focus {
  outline: none;
  border-color: transparent;
}

.header-icons .search-input::placeholder {
  font-size: 12px; /* adjust as needed */
}

.header-icons .search-icon {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.header-icons .mdi-close {
  margin-left: 5px;
  cursor: pointer;
  margin-top: -2px; /* adjust as needed */
}

.header-icons .header-icon {
  transition: transform 0.3s ease; /* transition effect */
}
