table {
    width: 100%;
    border: 1px solid #ddd;
    background-color: white;
  }

  
  td {
    border-bottom: 1px solid #ddd;
  }
  th {
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    background-color:#f6f6f6;
    // text-transform: uppercase;
  }
  
  th, td {
    padding: 8px;
  }
  
  th input {
    text-align: left;
    diplay: inline;
  }
  
  .colss{
    font-weight: normal;
    color: #1BB55C;;
  }
  
  // .active {
  //   font-weight: bold;
  // }
  .dept-span{
    font-size: 13px !important;
  }
  .active-stat{
    background-color: #f2f0f9;
    padding: 5px 10px;
    border-radius: 5px;
    width: 6.5rem;
  }
  .deactive-stat{
    background-color: #FC2929;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    width: 6.5rem;
  }
  .round {
    background: #1BB55C;
    border-radius: 15px;
    border: none;
    color: #fff;
    font-size: 16px;
    padding: 5px 10px;
    margin-bottom: 10px;
    text-decoration: none; }
  .pagination-wrapper{
    margin-top: 10px;
    float: right;
  }